<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name="SmartScannerActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize|keyboardHidden"
            android:exported="true"
            android:keepScreenOn="true">
        </activity>
        <activity
            android:name=".nfc.NFCActivity"
            android:launchMode="singleInstance"
            android:keepScreenOn="true"/>
        <activity
            android:name="kl.open.fmandroid.CameraActivity"
            android:keepScreenOn="true"
            android:exported="false"/>
    </application>
</manifest>